

body {
  font-family: 'Montserrat';
  color: white;
  background: url("images/forest.jpg");
  background-color: rgba(0, 0, 0, 0.6);
background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  color: white;
  font-weight: 700;
}
